%p#notice= notice
%p#error= flash[:error]

%p
  %h1
    %b
    = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%p
  %b Added by:
  = "#{product.user.firstname} #{product.user.lastname}"

%h3 Reviews
- if product.reviews.empty?
  %p No reviews yet.
- else
  = render reviews

- if current_user
  = render 'reviews/form'

- if (current_user && current_user == product.user) || (current_user && current_user.admin?)
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-warning'
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
